@model IEnumerable<HotelProjx.Models.Customerinfo>

@{
    ViewBag.Title = "CustomerList";
}

<h2>CustomerList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emailaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustID })
        </td>
    </tr>
}

</table>
